{% extends "_layout.html" %}

{% block content %}
	<div class="grid">
    <div class="grid-name">
      <h2><a href="/">Overview</a> &rarr; {{ cloud.grid }} / {{ cloud.name }}</h2>
    </div>
    <div class="tables">
      <div class="table" style="width: 60%;">
        <table class="vms">
          <thead>
            <tr>
              <th>Hostname</th>
              <th>Status</th>
              <th>Booted</th>
              <th>Updated</th>
              <th>Slots</th>
              <th>Jobs</th>
              <th>Mips</th>
            </tr>
          </thead>
          <tbody>
            {% for vm in cloud.vms %}
              <tr class="{{ vm.status }}">
                <td class="name">
                  <a href="{{ request.path }}/vms/{{ vm.hostname }}">{{ vm.hostname.split('.')[0] }}</a><br>
                  <small>{{ vm.type }}</small>
                </td>
                <td class="status"><span>{{ vm.status }}</span></td>
                <td>{{ vm.initialize_time.strftime('%H:%M:%S %d-%b') }}</td>
                <td>{{ vm.last_updated.strftime('%H:%M:%S %d-%b') }}</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="table" style="width: 40%;">
        <table class="jobs">
          <thead>
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Queued</th>
              <th>Status Changed</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            {% for job in cloud.jobs %}
              <tr class="{{ job.status }}">
                <td class="name"><a href="{{ request.path }}/jobs/{{ job._id }}">{{ job._id }}</a></td>
                <td class="status"><span>{{ job.status }}</span></td>
                <td>{{ job.queue_date.strftime('%H:%M:%S %d-%b') }}</td>
                <td>{{ job.status_history.pop()[0].strftime('%H:%M:%S %d-%b') }}</td>
                <td>{{ job.last_updated.strftime('%H:%M:%S %d-%b') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
