{% extends "_layout.html" %}

{% set vm_statuses  = ['starting', 'running', 'retiring', 'error'] %}
{% set job_statuses = ['total', 'idle', 'running', 'completed', 'held'] %}

{% block content %}

  
  <div class="plot">
    <div id="plot" style="width: 100%; height: 350px;"></div>
    <a href="#" id="close-plot" class="close">&times;</a>
    <div class="loading"></div>
  </div>

  {% for grid_name in grids|sort %}

    {% set grid = grids[grid_name] %}

    <div class="grid grid-{{ grid_name }} {{ 'hide' if grid['hide'] }}">
      <div class="grid-name">
        <h2>{{ grid_name }}</h2>
        Last updated <span class="last-updated">{{ grid['last_updated'] }}</span>
      </div>

      <ul class="clouds">
        {% set cloud_list = grid['clouds'].keys()|sort %}
        {# 
        {% if grid_name in config.GRID_CLOUDS %}
          {% set cloud_list = config.GRID_CLOUDS[grid_name]|sort %}
        {% else %}
          {% set cloud_list = grid['clouds'].keys()|sort %}
        {% endif %}
        #}
        {% for cloud_name in cloud_list %}
          {% if grid['clouds'][cloud_name]['enabled'] %}
            {% set quota = grid['clouds'][cloud_name]['quota'] or '-' %}
            {% set path  = 'grids.{}.clouds.{}'.format(grid_name, cloud_name) %}
            <li data-path="{{ path }}.enabled|{{ path }}.quota" class="metric cloud enabled">
              {{ cloud_name }}
                <span>({{ quota }})</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <div class="tables">
        <div class="table" style="width: 65%;">
          <table>
            <thead>
              <tr>
                <th rowspan="2" class="group name">Cloud</th>
                <th class="group" colspan="6">CloudScheduler</th>
                <th>&nbsp;</th>
                <th class="group" colspan="10">HTCondor</th>
              </tr>
              <tr>
                {% for status in vm_statuses %}
                  <th class="count">{{ status.title() }}</th>
                {% endfor %}

                <th class="count">Idle</th>
                <th class="count">Lost</th>

                <th>&nbsp;</th>

                {% for n in range(1, 9) %}
                  <th class="count narrow">{{ n }}</th>
                {% endfor %}

                <th class="count">Held</th>
              </tr>
            </thead>
            <tbody>

              {% for cloud_name in grid['clouds']|sort %}
                {% set cloud = grid['clouds'][cloud_name] %}
                {% set vmtypes = cloud['vmtypes'] %}
                {% set slots = cloud['slots'] %}
                {% set cycle = loop.cycle('odd', 'even') %}

                {% for vmtype in vmtypes %}

                  <tr class="cloud-{{ cloud_name }} vmtype-{{ vmtype }} {{ 'hide' if cloud['hide'] }} {{ cycle }}">

                    <td class="name">
                      <a href="/clouds/{{ grid_name }}/{{ cloud_name }}">{{ cloud_name }}</a><br>
                      <small>{{ vmtype }}</small>
                    </td>

                    {% for status in vm_statuses %}
                      {% set path  = 'grids.{}.clouds.{}.vms.{}.{}'.format(grid_name, cloud_name, vmtype, status) %}
                      {% set value = cloud['vmtypes'][vmtype][status] or '0' %}

                      <td data-path="{{ path }}" class="metric count vms {{ status }}">{{ value }}</td>
                    {% endfor %}

                    <td data-path="grids.{{ grid_name }}.clouds.{{ cloud_name }}.idle.{{ vmtype }}" class="metric count idle-vms">{{ cloud['idle'][vmtype] or '0' }}</td>

                    {% if loop.first %}
                      {% if 'lost' in cloud %}
                        <td data-path="transformNull(removeBelowValue(diffSeries(sumSeries(grids.{{ grid_name }}.clouds.{{ cloud_name }}.api-vms.{running,starting,error}),sumSeries(grids.{{ grid_name }}.clouds.{{ cloud_name }}.vms.*.total)), 0), 0)" class="metric count lost-vms" rowspan="{{ vms|length }}">
                          {{ cloud['lost'] }}
                        </td>
                      {% else %}
                        <td rowspan="{{ vmtypes|length }}"></td>
                      {% endif %}
                    {% endif %}

                    <td>&nbsp;</td>

                    {% for n in range(1, 9) %}
                      {% set slot = 'slot1_{}'.format(n) %}
                      {% set path = 'grids.{}.clouds.{}.slots.{}.{}'.format(grid_name, cloud_name, vmtype, slot) %}

                      {% if vmtype in cloud['slots'] %}
                        {% if slot in cloud['slots'][vmtype] %}
                          {% set value = cloud['slots'][vmtype][slot] or '0' %}
                          <td data-path="{{ path }}" class="metric count narrow slots slot1_{{ n }}">{{ value }}</td>
                        {% else %}
                          <td class="count narrow">0</td>
                        {% endif %}
                      {% else %}
                        <td class="count narrow">0</td>
                      {% endif %}
                    {% endfor %}

                    {% if loop.first %}
                      <td data-path="grids.{{ grid_name }}.clouds.{{ cloud_name }}.jobs.all.held" class="metric count held-jobs" rowspan="{{ vmtypes|length }}">
                        {% if 'jobs' in cloud %}
                          {{ cloud['jobs']['all']['held'] or '0' }}
                        {% else %}
                          0
                        {% endif %}
                      </td>
                    {% endif %}

                  </tr>

                {% endfor %}

              {% endfor %}

            </tbody>
          </table>
        </div>
        <div class="table" style="width: 35%">
          <table>
            <thead>
              <tr>
                <th rowspan="2" class="group name">Jobs</th>
                <th class="group" colspan="4">Condor Job Status</th>
              </tr>
              <tr>
                {% for status in job_statuses %}
                  <th class="count">{{ status.title() }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="name">All</td>

                {% for status in job_statuses %}
                  {% set path  = 'grids.{}.jobs.all.{}'.format(grid_name, status) %}
                  {% set value = grid['jobs']['all'][status] or '0' %}

                  <td data-path="{{ path }}" class="metric count jobs all {{ status }}">{{ value }}</td>
                {% endfor %}
              </tr>

              {% for jobtype in grid['jobs']|sort if jobtype != 'all' %}
                <tr>
                  <td class="name">{{ jobtype.replace('_', ' ') }}</td>

                  {% for status in job_statuses %}
                    {% set path  = 'grids.{}.jobs.{}.{}'.format(grid_name, jobtype, status) %}
                    {% set value = grid['jobs'][jobtype][status] or '0' %}

                    <td data-path="{{ path }}" class="metric count jobs {{ jobtype }} {{ status }}">{{ value }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  {% endfor %}

{% endblock %}
