{% extends "_layout.html" %}

{% block content %}
  <div class="grid">
    <div class="grid-name">
      <h2>{{ job.grid }} &rarr; {{ job.cloud }} &rarr; Job {{ job._id }}</h2>
    </div>
    <div class="tables">
      <div class="table" style="width: 50%">
        <h3>Job Status</h3>
        <table class="text">
          <tr class="{{ job.status }}">
            <th>Status:</th>
            <td class="status"><span>{{ job.status }}</span></td>
          </tr>
          <tr>
            <th>Queued:</th>
            <td>{{ job.queue_date.strftime('%H:%M:%S %d-%b') }}</td>
          </tr>
          <tr>
            <th>Updated:</th>
            <td>{{ job.last_updated.strftime('%H:%M:%S %d-%b') }}</td>
          </tr>
          <tr>
            <th>VM:</th>
            <td>
            	{% if job.host %}
            		<a href="/clouds/{{ job.grid }}/{{ job.cloud }}/vms/{{ job.host }}">{{ job.host }}</a>
            	{% else %}
            		&mdash;
            	{% endif %}
            </td>
          </tr>
        </table>
        <h3>Status History</h3>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for row in job.status_history %}
              <tr class="{{ row[1] }}">
                <td>{{ row[0].strftime('%H:%M:%S %d-%b') }}</td>
                <td class="status"><span>{{ row[1] }}</span></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>VM History</h3>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>VM</th>
            </tr>
          </thead>
          <tbody>
            {% for row in job.host_history %}
              <tr>
                <td>{{ row[0].strftime('%H:%M:%S %d-%b') }}</td>
                <td>
                	{% if row[1] %}
                		<a href="/clouds/{{ job.grid }}/{{ job.cloud }}/vms/{{ row[1] }}">{{ row[1] }}</a>
                	{% else %}
                		&mdash;
                	{% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include '_logs.html' %}
    </div>
  </div>
{% endblock %}
